<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>PetShop Innovador - Home</title>
</head>
<body>
  <%- include('partials/header') %>
    <div class="mobile-container">
      <main>
        <form class="form-editar" action="/admin/productos/editar/<%=producto.id %>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <label for="producto_id">ID </label>
          <select type="select" class="producto_id" name="producto_id" id="producto_id">
            <option value="" disabled selected>- Seleccionar producto - </option>
            <% producto.forEach(product=> { %>
                <option value="<%= product.id%>">
                    <%= product.nombre %>
                </option>
                <% }); %>
        </select>    
          <label for="nombre">Nombre del producto</label>
            <input type="text" id="nombre" name="nombre" value="<%=producto.nombre %>" >
            <label for="descripcion">Descripcion:</label>
            <input type="text" name="descripcion" id="descripcion" value="<%=producto.descripcion %>" >
            <label for="precio">Precio: </label>
            <input type="text" id="precio" name="precio" value="<%=producto.precio %>">
            <label for="img">Imagen: </label>
            <input type="file" name="imagen" id="imagen" class="width:200px height: 200px">
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria">
            <option value="perros" <%= producto.categoria === 'perros' ? 'selected' : '' %>>Perros</option>
            <option value="gatos" <%= producto.categoria === 'gatos' ? 'selected' : '' %>>Gatos</option>
            <option value="aves" <%= producto.categoria === 'aves' ? 'selected' : '' %>>Aves</option>
            </select>
            <label for="stock">Stock</label>
            <input type="number" id="stock" name="stock" value="<%=producto.stock || 0 %>">
                <button type="submit">Modificar Producto</button>
        </form>

        <form action='/admin/productos/<%= producto.id %>?_method=DELETE'  method="POST">
            <button type="submit" onclick="return confirm('¿Estás seguro de eliminar este producto?')">Eliminar Producto</button>
        </form>

    </main>
    </div>
    <script src="/js/createValidations.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
  <%- include('partials/footer') %>
</html>